*
{
    margin: 0;
    padding: 0;
}
.article-box
{
    padding-top: 10px;
    width: 100%;
}
.post-author-avtar
{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#post-author-name
{
    font-size: 15px;
}
#post-avtar-image
{
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
#article-content
{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
#article-thumbnail
{
    width: 100%;
}
#article-text
{
    padding-top: 10px;
    font-size: 18px;
}
.share-button>ul
{
    display: flex;
}
.share-button>ul li 
{
    list-style: none;
    cursor: pointer;
    margin: 5px 5px 5px 0px;
}
.share-button>ul li:hover
{
    color: #5EA3FF;
    font-weight: bold;
}

@media (max-width:568px)
{
    #article-thumbnail
    {
        width: 100%;
    }
}