@import url('https://fonts.googleapis.com/css2?family=Acme&family=PT+Serif&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=PT+Serif&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
  
*{
    margin: 0;
    padding: 0;
}
header>a
{
    text-decoration: none;
    color: #53BD95;
}
header>h3{
    color: #53BD95;
}
body{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    width: 100%;
}
header
{
    box-sizing: border-box;
    padding: 20px 40px 20px 40px;
    /* background-color: black; */
    align-items: center;
    display: flex;
    position: relative;
    /* border-bottom: 1px solid black; */
}
header h3
{
    font-family: 'Acme', sans-serif;
}
header nav
{
    position: absolute;
    right: 0;
    margin-right: 10px;
}
header>nav>ul
{
    display: flex;
}
header>nav>ul li
{
    cursor: pointer;
    list-style-type: none;
    margin-left: 5px;
}
.home
{
    width: 100%;
    box-sizing: border-box;
    padding: 0px 40px 10px 40px;
}
.home-strip
{
    border-bottom: 1px solid black;
}
.home-strip>ul
{
    display: flex;
    margin-bottom: -1px;
}
.home-strip>ul li
{
    list-style: none;
    margin-right: 15px;
    padding: 3px;
    cursor: pointer;
}
.home-strip>ul li:active
{
    border-bottom: 2px solid black;
}
.author-avtar
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 0px 5px 0px;
}
#avtar-image
{
    width: 30px;
    vertical-align: middle;
    margin-right: 5px;
}
.home-content
{
    padding-top: 20px;
    /* border: 1px solid black; */
}
.popular-home-post-box
{
    display: flex;
    /* border: 3px solid blue; */
}
.home-post-content
{
    width: 100%;
    
}
.home-post-content .author-avtar
{
    padding: 20px 0px 20px 0px;
}
.home-post-content h2
{
    cursor: pointer;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 30px;
}
.home-post-content h2:hover
{
    color: #5EA3FF;
    transition-duration: 0.4s;
}
#author-name
{
    font-size: 20px;
}
#home-post-description
{
    font-size: 18px;
    /* background-color: black; */
}
#post-thumbnail
{
    width:500px;
    border-radius: 5px;
}
.continue-reading
{
    background-color: #E2EEFF;
    color: #5EA3FF;
    font-weight: bold;
    border-radius: 3px;
    margin: 10px 0px 10px 0px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
}
.continue-reading:hover
{
    background-color: #acffdf;
    color: #53BD95;
}
.continue-reading:active
{
    color: #5EA3FF;
    background-color: #bbd7ff;
}
.recent-home-post-box
{
    display: flex;
    padding-top: 20px;
}
.recent-home-post-box ol
{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    counter-reset: my-awesome-counter;
    list-style: none;
    
}
.recent-home-post-box ol li
{
    width: 45%;
    margin-top: 5px;
    margin-left: 10px;
    counter-increment: my-awesome-counter;
    position: relative;
}
 
.recent-home-post-box ol li::before {
    content: counter(my-awesome-counter);
    color: #fcd000;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    --size: 32px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    transform: rotate(-10deg);
    background: black;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px 0 #999;
  }
.home-recent-post a
{
    text-decoration: none;
    color: black;
}
.home-recent-post h2:hover
{
    cursor: pointer;
    color: #5EA3FF;
    transition-duration: 0.4s;
}
footer
{
    width: 100%;
    background-color: #d9fff0;
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
}
@media (max-width:868px)
{
    header
    {
    padding: 10px;
    }
    .home
    {
        padding: 10px;
    }
    .popular-home-post-box
    {
        flex-direction: column-reverse;
    }
    #post-thumbnail
    {
        width: 100%;
    }
    .recent-home-post-box
    {
        flex-direction: column;
    }
    .recent-home-post-box ol li
    {
        width: 100%;
    }
}